@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 1023px) {
  .indicator-0 { width: 33.33%; left: 0; }
  .indicator-1 { width: 33.33%; left: 33.33%; }
  .indicator-2 { width: 33.33%; left: 66.66%; }
}

@media (min-width: 1024px) {
  .indicator-0 { width: 25%; left: 0; }
  .indicator-1 { width: 25%; left: 25%; }
  .indicator-2 { width: 25%; left: 50%; }
  .indicator-3 { width: 25%; left: 60%; }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}