@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-gaultier), system-ui, sans-serif;
  }
}


@media (max-width: 1023px) {
  .indicator-0 { width: 33.33%; left: 0; }
  .indicator-1 { width: 33.33%; left: 33.33%; }
  .indicator-2 { width: 33.33%; left: 66.66%; }
}

@media (min-width: 1024px) {
  .indicator-0 { width: 25%; left: 0; }
  .indicator-1 { width: 25%; left: 25%; }
  .indicator-2 { width: 25%; left: 50%; }
  .indicator-3 { width: 25%; left: 60%; }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}


.bg-gradient-try-sky {
  background: linear-gradient(180.18deg, #030537 2.64%, #06097A 21.81%, #FA99A4 66.41%, #FEE5C2 84.36%, #FFFCE9 94.71%);
}